// footer{
//   // margin-top:2rem;
//   .h2{
//     text-align: center;
//   }
//   .footer-link-list{
//     a{
//       color:#fff;
//       display: inline-block;
//       // margin: 5px 0 0;
//       &:not(:last-child)::after{
//         display: inline-block;
//         padding:0 5px;
//         content: "|";
//       }
//     }
//   }
// }

// @media(min-width:992px){
//   footer{
//     .h2{
//       text-align: left;
//     }
//   }
// }


.footerWrap {
  padding: 16px 96px;
}

@media (max-width: 991px) {
  .footerWrap {
    padding: 18px 32px;
    }
}
@media (max-width: 767px) {
  .footerWrap {
    padding: 24px;
  }
}
